* {
    margin: 0px;
    padding: 0px;
}
body {
    box-sizing: border-box;
    font-family: "Inter";
}
:root {
    --btn-color: #1C3F74;
    --product-categories-color: #0A0A0A;
    --microsoft-product-color: #7D7D7D;
    --shop-now-btn: #1C3F74;
}
/* Header Start */
header {
    min-height: 40px;
    background-color: #f6f8fb;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}
.main-content {
    width: 100%;
    height: auto;
    max-width: 1440px;
    margin: 0 auto;
}
.icon-content {
    display: flex;
    gap: 10px;
    align-items: center;
}
.icon-content p {
    font-size: 14px;
    color: var(--btn-color);
}
.communication-icons-content {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 24px;
}

/* Header End */

/* Navbar Start */
.navbar-list-content li {
    display: flex;
    align-items: center;
    gap: 11px;
    font-weight: 400;
    font-size: 16px;
    color: #7d7d7d;
}
.navbar-list-content {
    display: flex;
    align-items: center;
    gap: 24px;
}
.cart-bg {
    width: 45px;
    height: 45px;
    position: relative;
    background-color: #f6f8fb;
    border-radius: 50px;
}
.cart-icon {
    position: absolute;
    left: 10px;
    top: 10px;
}
.search-content {
    display: flex;
    align-items: center;
    gap: 20px;
}
.login-btn {
    background-color: var(--btn-color);
    border: 1px solid var(--btn-color);
    border-radius: 100px;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    padding: 14px 31px;
}
.navbar-right-col {
    display: flex;
    align-items: center;
    gap: 111px;
}
.navbar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 91px;
    margin-bottom: 98px;
}
.navbar-heading {
    font-weight: 600;
    font-size: 64px;
    color: #0A0A0A;
    margin-bottom: 25px;
}
.navbar-description{
    font-weight: 400;
    font-size: 20px;
    color: #7D7D7D;
    margin-bottom: 40px;
}
.view-products-btn{
    background-color: var(--btn-color);
    border-radius: 100px;
    padding: 20px 30px;
    font-weight: 500;
    font-size: 16px;
    color: #FFFFFF;
    border:1px solid var(--btn-color);
}
.free-quote-content{
    display: flex;
    align-items: center;
    gap:10px;
}
.free-quote-content p{
    font-weight: 500;
    font-size: 18px;
    color: var(--btn-color);
}
.view-products-content{
    display: flex;
    align-items: center;
    gap:44px;
}
.navbar-products-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar-first-col{
    width: 603px;
}
.ellipse-circle{
    position: absolute;
    width: 292.75px;
    height: 306.6px;
    background: #F5DFAA;
    border-radius: 50%;
    left: 67px;
    top: 115px;
}
.young-girl-image{
    position: absolute;
    top: -43px;
    right: 13px;
    border-radius: 121px;
}
.outer-ellipse{
    position: absolute;
    width: 421.11px;
    height: 421.11px;
    background: #EABF55;
    border-radius: 500px;
    left: 27px;
    top: 27px;
}
.dotted-ellipse{
    position: relative;
    width: 473.75px;
    height: 473.75px;
    border: 1px dashed #000000;
    border-radius: 500px;
}
.everything-in-cloud-service{
    position: absolute;
    width: 97.47px;
    height: 123.78px;
    background: #F6F8FB;
    box-shadow: 0px 4px 80px rgba(236, 210, 154, 0.08);
    border-radius: 20px;
    top: 8px;
    left: -39px;
}
.everything-in-cloud-service-content{
    text-align: center;
    position: absolute;
    padding: 20px 8.47px 19.78px 10px;
}
.everything-in-cloud-service-content p{
    font-weight: 500;
    font-size: 14px;
    color: #28303F;
}
.everything-in-cloud-service-content img{
    margin-bottom: 10px;
}
.self-serve-service{
    top: 233px;
    width: 119.13px;
    height: 101.58px;
    left: -77px;
}
.self-service-content{
    text-align: center;
    position: absolute;
    padding: 18.47px 8.55px 14.78px 8.55px;
}
.support-service{
    width: 149px;
    height: 155px;
    left: 320px;
}
.support-service-content .support-service-heading{
    font-weight: 500;
    font-size: 34px;
    color:var(--btn-color);
    margin-bottom:7px;
}
.support-service h6{
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}
.support-service-content{
    padding: 28px 23px 28px 24px;
    text-align: center;
    position: absolute;
}
.chat-icon-bg{
    position: absolute;
    width: 56px;
    height: 56px;
    background-color: var(--btn-color);
    border-radius: 50px;
    right: -45px;
    top: 355px;
}
.chat-icon{
    padding:14.89px 16px 16.32px 16px;
}
nav{
    margin-bottom: 50px;
}
/* Navbar End */

/* Trusted Partner Start */
.trusted-partner{
    min-height: 144px;
    background: rgba(161, 185, 211, 0.1);
    margin-bottom: 119px;
}
.trusted-partner-content{
    padding: 44px 40px 44px 66px;
    display: flex;
    align-items: center;
    gap:52px;
    justify-content: space-between;
}
.trusted-partner-border{
    width: 51px;
    height: 2px;
    background: #D9A436;
    border-radius: 100px;
}
.trusted-partner-content p{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #28303F;
}
.trusted-partner-items{
    display: flex;
    align-items: center;
    gap:11px;
}
.trusted-partner-logo{
    display: flex;
    align-items: center;
    gap:200px;
}
/* Trusted Partner End */

/* Product Categories Start */
.product-categories-heading-content{
    display: flex;
    align-items: center;
    gap:25px;
    justify-content: center;
    margin-bottom: 25px;
}
.product-categories-label{
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: var(--product-categories-color);
}
.product-categories-subheading{
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: var(--product-categories-color);
    margin-bottom: 36px;
}
.microsoft-product{
    width: 358.94px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(43, 43, 43, 0.08);
    border-radius: 10px;
}
.microsoft-product-content{
    padding: 33px 34.94px 0px 33px;
    position: relative;
}
.microsoft-product-content img{
    margin-bottom: 14px;
}
.microsoft-product-heading{
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0.02em;
    color: var(--product-categories-color);
    margin-bottom: 15px;
}
.microsoft-product-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: var(--microsoft-product-color);
    margin-bottom: 37px;
}
.microsoft-product-apps{
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.01em;
    color: var(--microsoft-product-color);
    margin-bottom: 16px;
}
.microsoft-product-list{
    display: flex;
    align-items: center;
    gap: 10px;
}
.office365-product-list{
    display: flex;
    align-items: center;
    gap: 25px;
    position: relative;
}
.office365-product-list-row-second{
    display: flex;
    align-items: center;
    gap: 13px;
}
.microsoft-product-logo{
    margin-bottom: 35px;
}
.shop-now-btn{
    background: #F6F8FB;
    border-radius: 20px 20px 10px 10px;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
}
.shop-now-btn p{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--btn-color);
}
.product-categories-content{
    display: flex;
    align-items: center;
    gap:70px;
}
.left-direction-icon-content{
    position: relative;
    width: 40px;
    height: 40px;
    background: var(--btn-color);
    border-radius: 50px;
}
.right-direction-icon-content{
    position: relative;
    width: 40px;
    height: 40px;
    background: var(--btn-color);
    border-radius: 50px;
}
.left-direction-icon-content img{
    position: absolute;
    left: 6px;
    top: 8px;
}
.right-direction-icon-content .right-direction-icon{
    position: absolute;
    left: 10px;
    top: 7px;
    transform: rotate(-180deg);
}
.product-categories-items{
    display: flex;
    align-items: center;
    gap:26px;
    margin-bottom: 98px;
    justify-content: space-between;
}
.know-more-heading{
    font-weight: 600;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color: #0A0A0A;
    margin-bottom: 10px;
}
.know-more-description{
    font-weight: 400;
    font-size: 18px;
    line-height: 140%;
    color: #808080;
    margin-bottom: 26px;
}
.know-more-content{
    text-align: center;
    width: 572px;
    margin: auto;
}
.explore-product-content{
    display: flex;
    align-items: center;
    gap:13px;
    justify-content: center;
}
.explore-product-content p{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--btn-color);
}
.microsoft-office365-circle{
    position: absolute;
    width: 25.34px;
    height: 24px;
    background: #EEFCFE;
    border-radius: 50px;
    right: 70px;
    top: 72px;
}
.office365-circle{
    position: absolute;
    width: 13.72px;
    height: 13px;
    background: rgba(0, 0, 228, 0.1);
    border-radius: 50px;
    right: 17px;
}
.product-categories-container{
    margin-bottom: 157px;
}
/* Product Categories End */

/* Customer Success Stories Start */
.customer-success-top-container{
    width: 100%;
    height: 69px;
    background-color: #F6F8FB;
}
.customer-success-container{
    background-color: var(--btn-color);
    margin-bottom: 120px;
}
.customer-success-label-name{
    display: flex;
    align-items: center;
    gap:25px;
    margin-bottom: 25px;
}
.customer-success-label-name p{
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #ffffff;
}
.customer-success-heading{
    font-weight: 600;
    font-size: 40px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 196px;
    width: 443px;
}
.customer-success-left-column{
    width: 50%;
}
.customer-success-right-column{
    width: 50%;
}
.customer-success-dots.active-dot{
    background-color: #D9A436;
}
.customer-success-dots{
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.4);
}
.customer-success-dots-content{
    display: flex;
    align-items: center;
    gap:13px;
}
.customer-success-right-column-items{
    display: flex;
    align-items: baseline;
    gap:90px;
    margin-bottom: 10px;
}
.customer-success-right-column-items h1{
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.customer-success-right-column-items p{
    font-weight: 500;
    font-size: 18px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: rgba(255, 255, 255, 0.71);
}
.customer-success-row{
    display: flex;
    padding-top: 74px;
    padding-bottom: 77px;
}
.customer-success-reviews{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-top: 8px;
    width: 523px;
    margin-bottom: 27px;
}
.customer-success-reviews span{
    color: #D9A436;
}
.client-name{
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: #FFFFFF;
    margin-bottom: 5px;
}
.client-designation{
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.01em;
    color: rgba(255, 255, 255, 0.71);
    margin-bottom: 26px;
}
.customer-stories-btn{
    padding: 20px 30px;
    background: #D9A436;
    border:1px solid #D9A436;
    border-radius: 100px;
    font-weight: 500;
    font-size: 18px;
    line-height: 75%;
    color: #FFFFFF;
    cursor: pointer;
}
/* Customer Success Stories End */

/* Our Services Start */
.services-heading{
    margin-bottom: 25px;
}
.services-description{
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #7D7D7D;
    text-align: center;
    margin-bottom: 70px;
}
.calling-icon{
    margin-bottom: 18.38px;
}
.it-management-block-heading{
    font-weight: 600;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 0.02em;
    color:var(--product-categories-color);
    margin-bottom: 40px;
}
.tick-icon-content{
    position: relative;
    min-width: 15px;
    height: 15px;
    background: var(--btn-color);
    border-radius: 50px;
}
.tick-icon-content img{
    position: absolute;
    left: 4px;
    top: 4px;
}
.it-management-block-content{
    display: flex;
    gap:10px;
    margin-bottom: 15px;
}
.it-management-block-content p{
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.03em;
    color: var(--microsoft-product-color);
}
.it-management-service-items{
    padding: 29px 37px 24px 30px;
}
.it-management-service-block{
    width: 318px;
    background: #F6F8FB;
    border-radius: 10px;
}
.it-management-items{
    margin-bottom: 32px;
}
.it-management-know-more-btn{
    display: flex;
    align-items: center;
    gap:13px;
    justify-content: center;
}
.it-management-know-more-btn p{
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--btn-color);
}
.our-service-block{
    display: flex;
    gap:20px;
    justify-content: center;
    margin-bottom: 80px;
}
.our-service-know-more{
    color: var(--product-categories-color);
}
.our-service-content{
    margin-bottom: 131px;
}
/* Our Services End */

.process-plan-content{
    margin-bottom: 123px;
}
.clouds-icon{
    margin-bottom: 36.38px;
}
.process-plan-description{
    font-weight: 400;
    font-size: 18px;
    line-height: 120%;
    color: #7D7D7D;
    text-align: center;
    margin-bottom: 106.38px;
}
.dooted-line-plan-second{
    position: absolute;
    top: 11px;
    left: 134px;
}
.process-plan-block-content h1{
    font-weight: 600;
    font-size: 30px;
    line-height: 35px;
    color: var(--product-categories-color);
    margin-bottom: 15px;
}
.process-plan-block-content p{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: var(--microsoft-product-color);
}
.process-plan-block-content{
    position: relative;
    width: 244px;
}
.dooted-line{
    position: absolute;
    top: 29px;
    left: 163px;
}
.process-plan-step-content{
    display: flex;
    gap:192px;
    justify-content: center;
    margin-bottom: 80px;
}
.process-plan-btn{
    padding: 20px 30px;
    background-color: var(--btn-color);
    border-radius: 100px;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #FFFFFF;
    border-width: 0px;
}
.process-plan-btn-content{
    text-align: center;
}